.container{
	width: 1529px;
	font-family: Futura PT;
	margin-left: 200px;
}
.social{
	width: 56px;
	height: 252px;
	position: absolute;
	z-index: 1;
	right: 0;
	top: 271px;
	position: fixed;
	display: flex;
	flex-direction: column;
	gap: 20px;
	background: #FFFFFF;
	padding: 16px 14px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
	border-radius: 10px 0px 0px 10px;
}
.switch__tema{
	position: absolute;
	bottom: 100px;
	right: 30px;
	position: fixed;
	z-index: 1;
}
.certificat{
	width: 100%;
	margin: 15px;
}
.page__title{
	display: flex;
	font-weight: 400;
	font-size: 17px;
	line-height: 30px;
	letter-spacing: 0.05em;
	color: #003C66;
	margin-top: 16px;
}
#page__title1{
	text-decoration-line: underline;
}
.profile__page{
	display: flex;
	margin-top: 37px;
	gap: 49px;
}
.profile{
	display: flex;
	flex-direction: column;
	width: 340px;
	height: 978px;
	background: #003C66;
	border-radius: 10px;
	padding: 23px 0 0 29px;
}
.profile__img{
	width: 180px;
	border-radius: 50%;
	margin: 0 auto;
	border: 5px solid #fff;
}
.profile__name{
	font-weight: 450;
	font-size: 24px;
	line-height: 31px;
	color: #FFFFFF;
	margin-top: 20px;
}
.profile__name-lat{
	font-weight: 450;
	font-size: 24px;
	line-height: 31px;
	color: #7AF7D9;
	margin: 8px 0 40px 0;
}
.profile__title{
	font-weight: 450;
	font-size: 20px;
	line-height: 26px;
	text-transform: uppercase;
	color: #7AF7D9;
	margin-bottom: 8px;
}
.profile__line{
	display: block;
	margin: 0 0 20px 0;
	width: 300px;
	height: 1px;
	background: rgba(255, 255, 255, 1);
}
.profile__contacts{
	display: flex;
	gap: 11px;
	margin: 0 11px 14px 0;
	font-weight: 450;
	font-size: 18px;
	line-height: 107.57%;
	color: #FFFFFF;
}
.profile__social a{
	display: flex;
	text-decoration: none;
	gap: 8px;
	font-weight: 450;
	font-size: 18px;
	line-height: 107.57%;
	color: #FFFFFF;
	padding-bottom: 14px;

}
.social__marker{
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #6BE0CB;
}
.employ{
	display: flex;
	gap: 5px;
	color: #fff;
	padding-bottom: 14px;
}
.employ__title{
	font-weight: 400;
	font-size: 18px;
	line-height: 107.57%;
	color: #7AF7D9;
}
.fierst__row{
	display: flex;
	gap: 30px;
	font-weight: 450;
	font-size: 18px;
	line-height: 26px;
	color: #535353;
	height: 100px;
}
a.ofert__text{
	text-decoration: none;
	font-weight: 450;
	font-size: 18px;
	line-height: 26px;
	color: #535353;
}
.ofert{
	width: 390px;
	display: flex;
	box-shadow: 2px 8px 30px rgba(210, 216, 233, 0.5);
	border-radius: 10px;
	display: flex;gap: 20px;
	padding: 13px 30px;	
	display: flex;
	align-items: center;
}
.ofert__img{
	background: linear-gradient(180deg, #009EFF 0%, #0971E6 100%);
	width: 74px;
	height: 74px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.bar{
	width: 720px;
	box-shadow: 2px 8px 30px rgba(210, 216, 233, 0.5);
	border-radius: 10px;
	padding: 22px 30px;
}
.bar__bar{
	margin-top: 20px;
	width: 100%;
	height: 10px;
	background: #EDF3FC;
	border-radius: 10px;
	display: flex;
}
.bar__bar__fill{
	width: 68%;
	background: linear-gradient(90deg, #0971E6 0%, #019CFE 100%);
	border-radius: 10px;
}
.tab__row{
	height: 90px;
	max-width: 1140px;
	padding: 30px 32px;
	box-shadow: 2px 8px 30px rgba(210, 216, 233, 0.5);
	border-radius: 10px;
	margin: 30px 0;
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	color: #788387;
}
.nav-pills{
	justify-content: space-between;
}
.nav-pills .nav-link{
	color: #788387;
}
.nav-pills .nav-link.active{ 
	background-color: #fff;
	color: #0E7BF6;
	position: relative;
} 
.nav-pills .nav-link.active:after{
	content: "";
	width: 65px;
	height: 3px;
	background-color: #0E7BF6;
	position: absolute;
	bottom: 0;
	left: 15px;
}

.service__cources{
	width: 1140px;
	padding: 30px;
	box-shadow: 2px 8px 30px rgba(210, 216, 233, 0.5);
	border-radius: 10px;
	position: relative;
	top: 30px;
	left: -30px;
}
.card__container{
	display: flex;
	gap: 30px;
	margin-top: 40px;
}
.service__card{
	box-shadow: 2px 8px 30px #D2D8E9;
	border-radius: 10px;
}
.card__fierstrow{
	height: 148px;
	padding: 20px;
	display: flex;
	justify-content: space-between;
}
.card__img{
	width: 104px;
	border-radius: 50%;
}
.card__secondrow{
	background-color: #003C66;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	color: #fff;
	display: flex;
	justify-content: space-between;
	height: 40px;
	align-items: center;
	font-size: 16px;
	width: 504px;
	padding: 10px;
}
#secondrow1{
	background: #0078CC;
}
#secondrow2{
	background: #33ABFF;
}
#stm{
	margin-top: 70px;
}
#socialtitle{
	margin-top: 37px;
}
#employtitle{
	margin-top: 36px;
}
#pills-feedback{
	font-size: 22px;
	padding: 15px 0;
}
.card__range svg{
	width: 28px;
	height: 17px;
	gap: 8px;
}
.card__planet, .card__range{
	display: flex;
	gap: 8px;
	align-items: center;
}
.card__title{
	font-size: 24px;
	width: 324px;
	font-weight: 450;
	line-height: 26px;
}
.card__academy{
	text-decoration: none;
	font-size: 17px;
	color: #135BAB;
	display: inline-block;
	background-color: #EDF3FC;
	padding: 4px 8px;
	border-radius: 4px;
	margin: 25px 0 20px 0;
}
.service__title{
	font-weight: 600;
	font-size: 24px;
	line-height: 26px;
	align-items: center;
	text-transform: uppercase;
	color: #0971E6;
	display: flex;
	align-items: center;
	gap: 20px;
}